# Dependencies
node_modules/

# React Build
build/
frontend/build/

# Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Optional Uploads
uploads/